* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  /* font-size: 100%; */
  list-style: none;

  box-sizing: border-box;
  /* border: 0; */

  /* cursor: default; */
}

html,body {
  height:100%;

  background-color: black;
}

#drum-machine {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;

  height: 80%;
  width: 90%;
  margin: auto;

  background-color: #2d2e2d;
  border: 1px solid black;
}

#pad-container {
  position: absolute;
  bottom: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  height: 60%;
  width: 40%;
  margin-right: 40px;
  margin-bottom: 40px;

  border: 1px dashed red;
}

.drum-pad {
  grid-column: span 1;

  position: relative;

  display: grid;
  align-items: center;
  justify-content: center;

  background-color: #898F90;
  box-shadow: 8px 8px 8px rgba(0,0,0, 1.0);

  cursor: pointer;
  transition: background-color 0.4s ease-in-out, box-shadow 0.1s ease-in-out;
}

#pad-q {
  /* background-color: #b43233; */

  background-color: #ad020c;
  background-image: radial-gradient(#fd6846, #ad020c);
}
