* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  font-size: 100%;
  list-style: none;

  box-sizing: border-box;
  /* border: 0; */

  /* cursor: default; */
}

html,body {
  height:100%;

  background-color: black;
}

#drum-machine {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;

  height: 80%;
  width: 90%;
  margin: auto;

  background-color: #2d2e2d;
  border: 1px solid black;
}

#other-test {
  display: grid;
  grid-template-rows: repeat(9, 1fr);

  position: absolute;
  top: 0;
  left: -20px;

  height: 40%;
  margin-top: 40px;
  margin-left: 40px;

  /* border: 1px dashed white; */
}

#other-test p {
  display: grid;
  grid-row: span 1;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-size: 12px;
  color: white;

  user-select: none;

  /* border-bottom: 1px solid rgba(255,255,255, 0.5); */
}

#display-left {
  display: grid;
  grid-template-rows: repeat(9, 1fr);

  position: absolute;
  top: 0;
  left: 0;

  height: 40%;
  width: 45%;
  margin-top: 40px;
  margin-left: 40px;

  background-color: black;
  overflow: hidden;

  user-select: none;
}

#play-line {
  position: absolute;
  z-index: 20;

  height: 100%;
  width: 5px;

  background-color: white;
}

.test-line {
  grid-row: span 1;

  border-bottom: 1px solid rgba(255,255,255, 0.5);
}

#test-line-9 {
  border-bottom: none;
}

.note-block {
  position: absolute;

  width: 5px;
  height: 31px;

  background-color: red;

  transition: opacity 0.2s ease-in-out;
}

.note-block-on {
  opacity: 1.0;
}

.note-block-off {
  opacity: 0.0;
}

#power-container {
  position: absolute;
  left: 60px;
  bottom: 120px;

  width: 100px;
  height: 200px;
  margin-left: 250px;
  margin-bottom: 40px;
}

#power-switch {
  display: grid;
  justify-content: center;

  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;

  width: 50px;
  height: 100px;
  margin: auto;

  background-color: silver;
  box-shadow: 6px 6px 6px rgba(0,0,0, 1.0);

  cursor: pointer;

  transition: transform 0.4s ease-in-out;
}

#power-switch-indicator {
  width: 50px;
  height: 5px;
  margin: auto;

  background-color: white;

  cursor: pointer;
}

#slider-path {
  position: relative;
  z-index: 10;
  left: 0;
  right: 0;

  height: 100%;
  width: 8px;
  margin: auto;

  background-color: black;
}

#power-on-line {
  position: absolute;
  z-index: 0;
  top: 50px;

  width: 100px;
  height: 1px;

  background-color: white;
}

#power-on-line p {
  position: absolute;
  top: -8px;
  right: -27px;

  font-family: sans-serif;
  color: white;

  user-select: none;
}

#power-off-line {
  position: absolute;
  z-index: 0;
  bottom: 49px;

  width: 100px;
  height: 1px;

  background-color: white;
}

#power-off-line p {
  position: absolute;
  top: -8px;
  right: -35px;

  font-family: sans-serif;
  color: white;

  user-select: none;
}

#kit-choice-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  position: absolute;
  bottom: 0;
  left: 0;

  height: auto;
  width: 45%;
  margin-bottom: 40px;
  margin-left: 40px;
}

.kit-choice-btn {
  display: grid;
  grid-column: span 1;
  align-items: center;
  justify-content: center;

  position: relative;

  height: 70px;

  background-color: #c0c7ca;
  background-image: radial-gradient(#b6b4be, #c0c7ca);
  box-shadow: 6px 6px 6px rgba(0,0,0, 1.0);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s ease-in-out, box-shadow 0.1s ease-in-out;
}

#kit-btn-1 {
  background-color: #E9E8EB;
  background-image: radial-gradient(#E9E8EB, #dad9de);
}

.kit-choice-btn-glow {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  background-color: rgba(255,255,255, 0.2);
  border-radius: 100%;
  box-shadow: 0 0 40px rgba(255,255,255, 0.5);

  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.kit-choice-btn > p {
  position: absolute;
  top: 10px;
  left: 10px;

  font-family: sans-serif;
  font-size: 16px;
  color: black;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);

  user-select: none;
}

#display-right {
  display: grid;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  height: 10%;
  width: 45%;
  margin-top: 40px;
  margin-right: 40px;
  padding-left: 20px;

  font-family: sans-serif;
  font-size: 16px;
  color: white;

  background-color: black;

  user-select: none;
}

#track-controls {
  position: absolute;
  top: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;

  height: 5%;
  width: 45%;
  margin-top: 130px;
  margin-right: 40px;
}

#track-controls p {
  font-family: serif;
  font-weight: bold;
  font-size: 18px;

  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

.fa-trash {
  font-size: 18px;
  color: black;

  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

#playback-controls {
  position: absolute;
  top: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;

  height: 5%;
  width: 45%;
  margin-top: 180px;
  margin-right: 40px;
}

.ctrl-btn {
  display: grid;
  grid-column: span 1;
  align-items: center;
  justify-content: center;

  height: 100%;

  box-shadow: 6px 6px 6px rgba(0,0,0, 1.0);

  cursor: pointer;
  user-select: none;
  transition: background-color 0.4s ease-in-out, box-shadow 0.1s ease-in-out;
}

.ctrl-btn-off {
  background-image: none;
  background-color: #898f90;
}

.ctrl-btn-on {
  background-image: radial-gradient(#b6b4be, #c0c7ca);
  background-color: #c0c7ca;
}

.ctrl-btn-active {
  background-image: radial-gradient(#e9e8eB, #dad9de);
  background-color: #dad9de;
}

.ctrl-glow {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 100%;

  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.ctrl-glow-off {
  background-color: rgba(255,255,255, 0.0);
  box-shadow: none;
}

.ctrl-glow-on {
  background-color: rgba(255,255,255, 0.2);
  box-shadow: 0 0 25px rgba(255,255,255, 0.5);
}

.fa-circle {
  font-size: 18px;
  color: red;

  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

.fa-play {
  font-size: 18px;
  color: black;

  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

.fa-stop {
  font-size: 18px;
  color: black;

  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

.fa-undo {
  font-size: 18px;
  color: black;

  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
}

#pad-container {
  position: absolute;
  bottom: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  height: 60%;
  width: 45%;
  margin-right: 40px;
  margin-bottom: 40px;
}

.drum-pad {
  display: grid;
  grid-column: span 1;
  align-items: center;
  justify-content: center;

  position: relative;

  background-color: #898F90;
  box-shadow: 8px 8px 8px rgba(0,0,0, 1.0);

  cursor: pointer;
  transition: background-color 0.4s ease-in-out, box-shadow 0.1s ease-in-out;
}

#pad-q {
  background-color: #ad020c;
  background-image: radial-gradient(#fd6846, #ad020c);
}

#pad-w {
  background-color: #ad020c;
  background-image: radial-gradient(#fd6846, #ad020c);
}

#pad-e {
  background-color: #ad020c;
  background-image: radial-gradient(#fd6846, #ad020c);
}

#pad-a {
  background-color: #0e839f;
  background-image: radial-gradient(#6be2fa, #0e839f);
}

#pad-s {
  background-color: #0530da;
  background-image: radial-gradient(#818bfa, #0530da);
}

#pad-d {
  background-color: #0530da;
  background-image: radial-gradient(#818bfa, #0530da);
}

#pad-z {
  background-color: #d6b002;
  background-image: radial-gradient(#ffeb99, #d6b002);
}

#pad-x {
  background-color: #d6b002;
  background-image: radial-gradient(#ffeb99, #d6b002);
}

#pad-c {
  background-color: #0c810c;
  background-image: radial-gradient(#2bef39, #0c810c);
}

.pad-glow {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 100px;

  background-color: rgba(255,255,255, 0.2);
  border-radius: 100%;
  box-shadow: 0 0 50px rgba(255,255,255, 0.5);

  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.drum-pad > p {
  position: absolute;
  top: 10px;
  left: 10px;

  font-family: sans-serif;
  font-size: 16px;
  color: black;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);

  user-select: none;
}
